body {
    background-image: linear-gradient(to bottom, #f5ed85, #af9ae4)
  }

  button {
    width: 210px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 0 10px 20px -10px rgb(106, 75, 18);
    margin-top: 10px;
    background-color: #f0dfca;
  }

  button:hover {
    background-color: #fcf7f1;
  }

